<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RepositoryAssembly" value="DeviceHive.Data.MongoDB" /> <!-- DeviceHive.Data.EF or DeviceHive.Data.MongoDB -->
    <add key="MongoConnection" value="mongodb://localhost/devicehive" />
  </appSettings>
  <connectionStrings>
    <add name="DeviceHiveContext" connectionString="Server=localhost;Database=devicehive;User Id=devicehive;Pwd=devicehive" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>