@* Generator : Template *@
@using DeviceHive.DocGenerator
@using DeviceHive.DocGenerator.Templates
@functions  {
    public Metadata Metadata { get; set; }
    public Metadata WsMetadata { get; set; }
}
<!DOCTYPE html>
<html>
<head>
    <title>RESTful | DeviceHive</title>
    <link type="text/css" rel="stylesheet" href="Css/Styles.css" media="all" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
</head>
<body>
<div id="wrap">
    <h1 id="page-title" class="title">RESTful</h1>
    @(new PartialApi { Metadata = Metadata, WsMetadata = WsMetadata }.TransformText())
</div>
</body>
</html>