<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+win+wpa81+wp80" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="portable-net45+win+wpa81+wp80" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" requireReinstallation="True" />
  <package id="WebSocket4Net" version="0.12" targetFramework="net45" />
</packages>