<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="webSocketsHost" type="DeviceHive.WebSockets.Host.ServiceConfigurationSection, DeviceHive.WebSockets.Host"/>
  </configSections>

  <appSettings>
  </appSettings>

  <webSocketsHost listenUrl="ws://127.0.0.1:8010"/>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <!--<binding portSharingEnabled="true" />-->
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="DeviceHive.WebSockets.Host.HostServiceImpl" behaviorConfiguration="default">
        <endpoint name="NetTcpEndpoint" address="net.tcp://127.0.0.1:8011/WebSocketHost" binding="netTcpBinding" contract="DeviceHive.WebSockets.Core.Hosting.IWebSocketApplicationManager"/>      
      </service>
    </services>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="DebugAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger name="DeviceHive.Core.Messaging">
        <level value="INFO" />
    </logger>
    <logger name="DeviceHive.WebSockets.Core.Network">
        <level value="INFO" />
    </logger>
  </log4net>
</configuration>