<RuntimeServiceConfiguration>
  <Applications>
    <ApplicationConfiguration>
      <Host>Localhost1</Host>
      <ExePath>..\..\..\DeviceHive.WebSockets.API\bin\Debug\DeviceHive.WebSockets.API.exe</ExePath>
      <CommandLineArgs>-mode HostedApp</CommandLineArgs>
    </ApplicationConfiguration>
  </Applications>
</RuntimeServiceConfiguration>