<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="deviceHive" type="DeviceHive.Core.DeviceHiveConfiguration, DeviceHive.Core" />
    <section name="namedPipeMessageBus" type="DeviceHive.Core.Messaging.NamedPipeMessageBusConfiguration, DeviceHive.Core"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="RepositoryAssembly" value="DeviceHive.Data.MongoDB" /> <!-- DeviceHive.Data.EF or DeviceHive.Data.MongoDB -->
    <add key="MongoConnection" value="mongodb://localhost/devicehive" />
  </appSettings>
  <connectionStrings>
    <add name="DeviceHiveContext" connectionString="Server=localhost;Database=devicehive;User Id=devicehive;Pwd=devicehive" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <deviceHive>
    <network allowAutoCreate="true" />
    <webSocketEndpoint url="ws://localhost:8010" />
    <restEndpoint url="http://localhost/DeviceHive.API" />
  </deviceHive>
  <namedPipeMessageBus>
    <pipes>
      <pipe name="DeviceHive.WebSockets" isServer="true"/>
      <pipe name="DeviceHive.API"/>
    </pipes>
  </namedPipeMessageBus>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="DebugAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger name="DeviceHive.Core.Messaging">
        <level value="INFO" />
    </logger>
    <logger name="DeviceHive.WebSockets.Core.Network">
        <level value="INFO" />
    </logger>
    <logger name="DeviceHive.WebSockets.API.Controllers">
        <level value="INFO" />
    </logger>
  </log4net>
</configuration>
