<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="deviceHive" type="DeviceHive.Core.DeviceHiveConfiguration, DeviceHive.Core" />
    <section name="tcpSocketMessageBus" type="DeviceHive.Core.Messaging.TcpSocketMessageBusConfiguration, DeviceHive.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="DeviceHiveContext" connectionString="Server=localhost;Database=devicehive;User Id=devicehive;Pwd=devicehive" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RepositoryAssembly" value="DeviceHive.Data.MongoDB" /> <!-- DeviceHive.Data.EF or DeviceHive.Data.MongoDB -->
    <add key="MongoConnection" value="mongodb://localhost/devicehive" />
  </appSettings>
  <deviceHive>
    <network allowAutoCreate="true" />
    <webSocketEndpoint enabled="false" url="ws://localhost:8010" />
    <userPasswordPolicy complexityLevel="1" minLength="8" />
    <authentication sessionTimeout="00:20:00" maxLoginAttempts="10">
      <providers>
        <add name="password" type="DeviceHive.Core.Authentication.Providers.PasswordAuthenticationProvider, DeviceHive.Core" />
        <add enabled="false" name="facebook" type="DeviceHive.Core.Authentication.Providers.FacebookAuthenticationProvider, DeviceHive.Core" clientId="" clientSecret="" />
        <add enabled="false" name="google" type="DeviceHive.Core.Authentication.Providers.GoogleAuthenticationProvider, DeviceHive.Core" clientId="" clientSecret="" />
        <add enabled="false" name="github" type="DeviceHive.Core.Authentication.Providers.GithubAuthenticationProvider, DeviceHive.Core" clientId="" clientSecret="" />
      </providers>
    </authentication>
    <messageHandlers>
      <add type="DeviceHive.Core.MessageLogic.MessageHandlers.DeviceStatusMessageHandler, DeviceHive.Core" notificationNames="device-status" />
      <add type="DeviceHive.Core.MessageLogic.MessageHandlers.EquipmentMessageHandler, DeviceHive.Core" notificationNames="equipment" />
    </messageHandlers>
    <maintenance cronTriggerSubnets="127.0.0.1" notificationLifetime="365:00:00:00" commandLifetime="365:00:00:00" />
  </deviceHive>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" enableVersionHeader="false" />
    <authentication mode="None" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="AnonymousIdentification" />
      <remove name="DefaultAuthentication" />
      <remove name="FileAuthorization" />
      <remove name="FormsAuthentication" />
      <remove name="OutputCache" />
      <remove name="Profile" />
      <remove name="RoleManager" />
      <remove name="ServiceModel-4.0" />
      <remove name="ScriptModule-4.0" />
      <remove name="Session" />
      <remove name="UrlAuthorization" />
      <remove name="UrlMappingsModule" />
      <remove name="WebDAVModule" />
      <remove name="WindowsAuthentication" />
    </modules>
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <tcpSocketMessageBus serverPort="3301">
    <clientEndpoints>
      <!-- uncomment the line below if using WebSockets endpoint -->
      <!-- <add port="3302" /> -->
    </clientEndpoints>
  </tcpSocketMessageBus>
  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="DebugAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <logger name="DeviceHive.Core.Messaging">
      <level value="INFO" />
    </logger>
  </log4net>
</configuration>