<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="{FA1B9338-B6F6-413e-B67F-86CA8BCED6E8}" Name="DeviceHive.API" Language="1033" Version="1.0.0.0" Manufacturer="DataArt" UpgradeCode="{E5C9F391-5787-4fd1-81E6-D1A4A91D226D}">

    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="DeviceHive.Api.cab" EmbedCab="yes" />

    <?include Conditions.wxi ?>
    

    <!-- Configurable install location -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- Complete feature which will be installed. -->
    <Feature Id="Complete" Title="DeviceHive" Level="1" Display="expand" ConfigurableDirectory="INSTALLFOLDER">
      <!-- Main content of the Complete feature. -->
      <Feature Id="MainContent" Title="DeviceHive.Api" Description="The website content" Level="1">
        <!-- Include IIS Configuration. -->
        <ComponentGroupRef Id="IssConfiguration" />

        <!-- Include web content. -->
        <ComponentGroupRef Id="DeviceHive.API_Project" />

        <!-- Perform changes in the web.config file. -->
        <ComponentRef Id="WebConfigCmp" />
        <ComponentRef Id="WebConfigSQL"></ComponentRef>
        <ComponentRef Id="WebConfigMongo"></ComponentRef>
        <ComponentRef Id="WebConfigWebSocketEndpointEnabledTrue"></ComponentRef>
        <ComponentRef Id="WebConfigWebSocketEndpointEnabledFalse"></ComponentRef>
        <ComponentRef Id="WebConfigAutomaticNetworkCreationTrue"></ComponentRef>
        <ComponentRef Id="WebConfigAutomaticNetworkCreationFalse"></ComponentRef>
        <ComponentRef Id="WebConfigAuthenticationGoogleTrue"></ComponentRef>
        <ComponentRef Id="WebConfigAuthenticationGoogleFalse"></ComponentRef>
        <ComponentRef Id="WebConfigAuthenticationFacebookTrue"></ComponentRef>
        <ComponentRef Id="WebConfigAuthenticationFacebookFalse"></ComponentRef>
        <ComponentRef Id="WebConfigAuthenticationGithubTrue"></ComponentRef>
        <ComponentRef Id="WebConfigAuthenticationGithubFalse"></ComponentRef>

        <ComponentGroupRef Id="CmpAdminConsole"/>
      </Feature>

      <Feature Id="WebSocket" Title="WebSockets.API">
        <!-- Include WebSocket content. -->
        <ComponentGroupRef Id="DeviceHive.WebSockets.API_Project" />
      </Feature>

      <Feature Id="DBMigratorContent" Title="DeviceHive.DBMigrator" Description="The website content" Level="1">
        <ComponentGroupRef Id="DeviceHive.DBMigrator_Project" />

        <ComponentRef Id="DBMigratorConfigCmp" />
        <ComponentRef Id="DBMigratorConfigSQL" />
        <ComponentRef Id="DBMigratorMongo" />
      </Feature>

      <Feature Id="MainApplication" Title="DeviceHive" Level="1">
        <ComponentRef Id="ApplicationShortcut" />
      </Feature>

      <Feature Id="UninstallDeviceHive" Title="Uninstall DeviceHive" Level="1">
        <ComponentRef Id="UninstallShortcutComponent" />
      </Feature>

    </Feature>

    <!-- .NET Framework 4.5.1 must be installed -->
    <PropertyRef Id="NETFRAMEWORK30_SP_LEVEL" />
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Property Id="FRAMEWORKBASEPATH">
      <RegistrySearch Id="FindFrameworkDir" Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework" Name="InstallRoot" Type="raw"/>
    </Property>

    <!-- PropertyRef Id="NETFRAMEWORK20"/>    
    <Property Id="FRAMEWORKBASEPATH">
      <RegistrySearch Id="FindFrameworkDir" Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework" Name="InstallRoot" Type="raw"/>
    </Property -->

    <Property Id="ASPNETREGIIS" >
      <DirectorySearch Path="[FRAMEWORKBASEPATH]" Depth="4" Id="FindAspNetRegIis">
        <FileSearch Name="aspnet_regiis.exe" MinVersion="2.0.5"/>
      </DirectorySearch>
    </Property>

    <!-- Switch ASP.NET to version 2.0 -->
    <CustomAction Id="MakeWepApp20" Directory="INSTALL_API_FOLDER" ExeCommand="[ASPNETREGIIS] -norestart -s W3SVC/1/ROOT/[WEB_APP_NAME]" Return="check"/>

    <Binary Id="CustomAction" SourceFile="..\..\..\DeviceHive.Setup.Actions\bin\Debug\DeviceHive.Setup.Actions.CA.dll"/>
    <CustomAction Id="ChangeConfigJs" BinaryKey="CustomAction" DllEntry="ChangeConfigJs" Return="check" />
    <CustomAction Id="MSSqlDbMigration" BinaryKey="CustomAction" DllEntry="MSSqlDbMigration" Return="check" />
    <CustomAction Id="CheckMongoDbConnection" BinaryKey="CustomAction" DllEntry="CheckMongoDbConnection" Return="check" />
    <CustomAction Id="GetCertificates" BinaryKey="CustomAction" DllEntry="GetCertificates" Execute="immediate"  Return="check" />
    <CustomAction Id="RunDBMigrator" Directory="INSTALL_DBMIGRATOR_FOLDER" ExeCommand='"[INSTALL_DBMIGRATOR_FOLDER]DeviceHive.DBMigrator.exe"' Execute="deferred" Return="check"/>
    
    <InstallUISequence>
      <Custom Action="GetCertificates" After="CostFinalize" Overridable="yes" />
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="ChangeConfigJs" After="InstallFinalize">NOT Installed</Custom>
<!--      <Custom Action="MSSqlDbMigration" After="InstallFinalize">NOT Installed</Custom>-->
      <Custom Action="MakeWepApp20" After="InstallFinalize">ASPNETREGIIS AND NOT Installed</Custom>
      <!-- Custom Action="CreateConfigJsFile" After="InstallFinalize">NOT Installed</Custom -->
      <Custom Action="RunDBMigrator" Before="InstallFinalize" />
    </InstallExecuteSequence>
   
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="17aa44e9-5c7a-429b-9569-a373650ea3c6">
        <Shortcut Id="AdminStartShortcut" Name="Admin Console" Description="DeviceHive Admin Console" Target="index.html" WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\DeviceHive" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>

      <Component Id="UninstallShortcutComponent" Guid="34c19832-b7b1-4153-b277-9b4281cea0b8">
        <RegistryKey Root="HKCU" Key="Software\{E5C9F391-5787-4fd1-81E6-D1A4A91D226D}">
          <RegistryValue Value="DeviceHive" Type="string" KeyPath="yes" />
        </RegistryKey>
        <Shortcut Id="UninstallProduct" Name="Uninstall DeviceHive" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Directory="INSTALLFOLDER" Description="Uninstalls DeviceHive" />
        <RemoveFolder Id="RemoveShorcutFolder" On="uninstall" />
      </Component>
    </DirectoryRef>


    <!-- License and images -->
    <!-- WixVariable Id="WixUILicenseRtf" Value="$(var.MyWebResourceDir)\License.rtf" / -->

    <!-- Specify UI -->
    <UIRef Id="SetupUI" />

    <!--CustomAction Id="CreateConfigJsFile" Script="vbscript">
      <![CDATA[
        Dim fso, f1, ts, s
        Const ForReading = 1
        Set fso = CreateObject("Scripting.FileSystemObject")
        Set f1 = fso.CreateTextFile(Session.Property("INSTALLFOLDER") & "\testreadfile.txt", True)
        f1.WriteLine "Hello World"
        f1.WriteBlankLines(1)
        f1.Close
      ]]>
    </CustomAction -->
    
  </Product>
</Wix>
