<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="AB310338-FACD-4CB3-A340-255633392638" Publisher="CN=DataArtApps" Version="1.0.0.0" />
  <Properties>
    <DisplayName>DeviceHive.ManagerWin8</DisplayName>
    <PublisherDisplayName>DataArt Apps</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DeviceHive.ManagerWin8.App">
      <VisualElements DisplayName="DeviceHive" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="DeviceHive Client" ForegroundText="light" BackgroundColor="#253d47">
        <DefaultTile ShowName="logoOnly" WideLogo="Assets\LogoWide.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>