
<p>Please click the button below to request access to DeviceHive via OAuth.</p>

@using (var form = Html.BeginForm("RequestAccess", "Home"))
{
    <input type="submit" class="button" value="Request Access" />
}